language:
- c
- cpp
compiler: gcc
sudo: required
dist: trusty
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
before_install:
- pip install --user cpp-coveralls
install:
- uname -a
- sudo rm /var/lib/apt/lists/* -vfr
- sudo apt-get update -qq
- sudo apt-get install -qq cmake
- wget http://www.freddiechopin.info/en/download/category/11-bleeding-edge-toolchain?download=139%3Ableeding-edge-toolchain-151225-64-bit-linux
  -O /tmp/gcc-arm-none-eabi-5_3-151225-linux-x64.tar.xz
- tar -xf /tmp/gcc-arm-none-eabi-5_3-151225-linux-x64.tar.xz -C /tmp/
- export SAVED_PATH=$PATH
script:
- gcc --version
- make generic
- cd build_generic && make -j`nproc`
- ctest -V
- cd ..
- export PATH=/tmp/gcc-arm-none-eabi-5_3-151225/bin:$SAVED_PATH
- arm-none-eabi-gcc --version
- make cortex-m4f
- cd build_cortex-m4f && make -j`nproc`
- cd ..
- make cortex-m4
- cd build_cortex-m4 && make -j`nproc`
- cd ..
- make cortex-m3
- cd build_cortex-m3 && make -j`nproc`
- cd ..
- make cortex-m0+
- cd build_cortex-m0+ && make -j`nproc`
- cd ..
- make cortex-m0
- cd build_cortex-m0 && make -j`nproc`
- cd ..
after_success:
- coveralls --root .. -E ".*gtest.*" -E ".*CMakeFiles.*" -E ".*test/.*.cpp.*" -E ".*test/.*.h.*"
before_deploy:
- cd ..
- mkdir deploy
- cd deploy
- mkdir lib
- cd lib
- cp ../../build_cortex-m0/libpinballdevice.a ./libpinballdevice_cortext-m0.a
- cp ../../build_cortex-m0+/libpinballdevice.a ./libpinballdevice_cortext-m0+.a
- cp ../../build_cortex-m3/libpinballdevice.a ./libpinballdevice_cortext-m3.a
- cp ../../build_cortex-m4/libpinballdevice.a ./libpinballdevice_cortext-m4.a
- cp ../../build_cortex-m4f/libpinballdevice.a ./libpinballdevice_cortext-m4f.a
- cd ../
- mkdir include
- cd include
- cp ../../include/*.h ./
- cd ../../
- zip -r libpinballdevice.zip deploy
notifications:
  on_success: change
  on_failure: always
deploy:
  provider: releases
  api_key:
    secure: L95T0iMqcl9rNzYB8EJevl3vA5U3j+qUwp7a2gnOdeENAJCv8YdidZ1oa2Mk+gPYz+crzP2CDzcHuzVZ2K15NkMfwAH0151QsC1IQMJ2bzuewrgZsY56jhtH2xiEGpBvGqAVZLar8j2j1HDbXW60scqSY68wf5SEEmSOdahr1/4Xx97R9LY7R2ILjfKWT/LYCJleLZfMiQWTBJEAK4T98tk8zjJkWVcFQsuYTENnD6fNI0STsHcQeKBcMIgBJGILrgnDHxntp4x/OBjaovOy2SJnp79A1AafOGMJ3XVKTpS9hwhqX6jEg0k0L105xT62jGbjNnrCn/z/lNchPAjc+t5fYUpWej6vQLhKlC/axzOdGTuNTjhHGkWvr2jAdJTDUnWVnWQmNSMWXBDpCSXBkFe55fM6GzqYbPo5PV5jAkQNhZVJjTzGPpMQbPMBzhEEUwXtyCEKJS4dKyxOC9T6Vv39qfIIoxCiYUJ42xzgpQQr1Sg/yfDp+4yN13LXf8WrTvtj8YfzUzrA+PxHBeG6tuHimAjynLZaoUlrHbJh8gxyAUrf/XJilz82/c/5cPbh0UXqLKtZiRqOHOvoVun/iTmrRteMcyEp+FUpbr/4ld5gt2146cnfQjg5Sz2mBKcoyZ7ltfEPdNeFiVqWRP6XES9lPVpeW0ZxEIXxgPaqmhE=
  file: libpinballdevice.zip
  on:
    repo: diypinball/libpinballdevice
    tags: true
